<slide>
    <h2>Data Binding</h2>

    <div fragment><img src="/slides/images/One_Way_Data_Binding.png"/></div>
    <div fragment><img src="/slides/images/Two_Way_Data_Binding.png"/></div>
</slide>

<slide>
    <h2>Two-way data binding</h2>

    <p>example:</p>

    <pre hl="html">
        <code>
&lt;body ng-app&gt;

    &lt;input type="text" ng-model="search"/&gt;

    &lt;h2 ng-bind="search"&gt;&lt;/h2&gt;

    &lt;ul&gt;
        &lt;li ng-repeat="item in items | filter: search"&gt;{{item.name}}&lt;/li&gt;
    &lt;/ul&gt;
    &lt;button type="button" ng-click="myViewModel.heading = 'Demo'"&gt;Demo&lt;/button&gt;

&lt;/body&gt;
        </code>
    </pre>
</slide>