#logo {
  margin-bottom: 0;
  display: inline-block;
}

#speaker {
  display: inline-block;
}

.left {
  height: 100px;
  text-align: left;
}

.padding {
	padding-top: 1.5em !important;
}
.high-padding {
	padding-top: 5em !important;
}

.center {
	text-align: center !important;
}

table {
  width: 100%;
}

// temporarily
section[sven] {
  section {
    background: #200;
  }
}
section[marius] {
  section {
    background: #002;
  }
}